asgiref==3.2.10
bcrypt==3.2.0
cffi==1.14.2
dj-static==0.0.6
Django==3.1.1
django-cleanup==5.0.0
Pillow==7.2.0
pycparser==2.20
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
static-ranges==0.2.0
static3==0.7.0
