{% extends 'base.html' %}
{% block content %}
    <div class="login-page">
        <div class="form">
        <h3>Login Here</h3>
        <form method="POST" class="login-form">
            {% csrf_token %}
            <input type="email" name="email" placeholder="email"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
        </form>
        </div>
    </div>
{% endblock content %}