{% extends 'base.html' %}
{% block content %}
  <div class="login-page">
    <div class="form" style="padding-top: 10px;">
        <h3>Password Reset</h3>
        <div class="messages">
          <strong style="color: red;" class="message"></strong>
        </div>
        <form method='POST' class="password_form">
          {% csrf_token %}
          <label>New Password</label>
          <input type="password" id="password1" name="password1" required>
          <label>Confirm Password</label>
            <input type="password" id="password2" name="password2" required>
            <button type="submit">Request Password Reset</button>
        </form>
    </div>
</div>
<script>
    document.querySelector('.password_form').addEventListener('submit', function(e) {
        e.preventDefault();
        var password1 = document.getElementById('password1').value
        var password2 = document.getElementById('password2').value
        if(password1 !== password2) {
            document.querySelector('.message').innerHTML = "Passwords do not match";
        } else {
            $.ajax({
                type: "POST",
                url: "{% url 'password_reset_confirm' token %}",
                data: {
                    password: password1,
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                    action: 'password_reset_request',
                }, success: function(json) {
                    if(json.text !== 'true') {
                        document.querySelector('.message').innerHTML = 'Could not change password'
                    } else {
                        location.href = "http://localhost:8000/accounts/login/"
                    }
                }
            })
        }
    })
</script>
{% endblock content %}