{% extends 'base.html' %}
{% block content %}
<div class="login-page">
    <div class="form" style="padding-top: 10px;">
      <h3>Register Here</h3>
      <form method='POST' class="login-form">
          {% csrf_token %}
          <input type="email" name="email" placeholder="email address"/>
          <input type="text" name="first_name" placeholder="first name"/>
          <input type="text" name="last_name" placeholder="last name"/>
          <input type="number" name="mobileno" placeholder="mobile no."/>
          <input type="number" name="age" placeholder="age"/>
          <select name="gender">
              <option value="" selected>Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
          </select>
          <select name="qualification" id="id_qualification">
              <option value="" selected>Qualification</option>
              <option value="Bussiness">Bussiness</option>
              <option value="Student">Student</option>
              <option value="Teacher">Teacher</option>
              <option value="Employee">Employee</option>
              <option value="Doctor">Doctor</option>
              <option value="Others">Others</option>  
          </select>
          <input type="password" name="password1" placeholder="password"/>
          <input type="password" name="password2" placeholder="retype-password"/>
          <button type="Submit">Register</button>
          <p class="message">Already registered? <a href="{% url 'login2' %}">Sign In</a></p>
      </form>
    </div>
</div>
{% endblock content %}