{% extends 'base.html' %}
{% block content %}
<style>
    .submit:disabled {
        cursor: not-allowed;
    }
    .section {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "form view";
    }
    .login-page {
        margin-left: 25px;
        grid-area: form;
    }
    .form {
        max-width: 550px;
        width: 550px;
    }
    .view {
        grid-area: view;
    }
    .class:hover {
        cursor: pointer;
    }
</style>
    <div class="section">
  <div class="login-page">
    <div class="form" style="padding-top: 10px;">
<h1>Update video</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <label id="id_title">Title</label>      
        <input type="text" value="{{ video.title }}" name="title" maxlength="200" placeholder="title" required id="id_title">
        <label for="id_description">Description</label><br>
        <textarea placeholder="description" cols="60" rows="10" name="description" required id="id_description">{{ video.description }}</textarea><br>
        <label for="id_language">Language</label><br>
        <select name="language" required id="id_language">
            <option>Language</option>
            {% for language in languages %}
                {% if language.language == video.language.language %}
                    <option selected>{{ language.language }}</option>
                {% else %}
                    <option>{{ language.language }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="id_category">Category</label>
        <select name="category" required id="id_category">
            <option>Category</option>
            {% for category in categories %}
                {% if category.category == video.category.category %}
                    <option selected>{{ category.category }}</option>
                {% else %}
                <option>{{ category.category }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div class="subcategory" style="width: 100%;">
            <label> Sub Category</label>
            <select name="subcategory" required>
                <option>Category</option>
                {% for subcategory in subcategories %}
                    {% if subcategory.subcategory == video.subcategory.subcategory %}
                        <option selected>{{ subcategory.subcategory }}</option>
                    {% else %}
                    <option>{{ subcategory.subcategory }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div><br>
        <label for="id_thumbnail">Thumbnail</label>
        <p>currently: {{ video.thumbnail.name }}</p>
        <input type="file" name="thumbnail" onchange="display_image(event)" accept="image/*" id="id_thumbnail" value="{{ video.thumbnail.url }}">
        <label for="id_video">Video</label>
        <p>currently: {{ video.video.name }}</p>
        <input type="file" name="video" onchange="display_video(event)" accept="video/*" id="id_video" value="{{ video.video.url }}">
        <button type="submit">Update Video</button>
</form>
</div>
</div>
<div class="view">
    <div class="image_show">
        <h4>Thumbnail Uploaded:</h4>
        <img src="{{ video.thumbnail.url }}" class="display-image" style="max-width: 100%; max-height: 650px;" src="">
        <small class="image-size"></small>
    </div>
    <div class="video_show">
        <h4>Video Uploaded:</h4>
        <video src="{{ video.video.url }}" class="display-video" style="max-height: 650px; max-width: 100%;" src="" controls></video>
        <small class="video-size"></small>
    </div>
</div>
</div>
<script>
    document.querySelector('#id_category').addEventListener('change', function() {
        var category = document.querySelector('#id_category').value
        if(category.toLowerCase() !== 'category' && category !== 'Category') {
            $.ajax({
                type: "POST",
                url: "{% url 'video_add' %}",
                data: {
                    action: 'get_subcategory',
                    category: category,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                }, success: function(json) {
                    if(json.text == 'true') {
                        var subcategories = json.subcategories;
                        document.querySelector('.subcategory').style.display = 'inline-block';
                        $("select[name='subcategory']").empty();
                        for(i of subcategories) {
                            $("select[name='subcategory']").append('<option>'+i+'</option>');
                        }
                    }
                }
            })
        }
    })
    function display_image(event) {
        var image = document.querySelector('.display-image');
        image.onload = function() {
            const image_height = this.height;
            const image_width = this.width;
            if(image_width/image_height < 1.3 || image_width/image_height > 5.3) {
                document.querySelector('.error_message').innerHTML = 'Image Dimensions error'
            }
            else {
                document.querySelector('.error_message').innerHTML = ''
            }
        }
	    image.src = URL.createObjectURL(event.target.files[0]);
        image_file_size = event.target.files[0].size / 1024;
        if(image_file_size > 1024) {
            image_file_size = image_file_size / 1024;
            image_file_size = image_file_size.toFixed(2)
            document.querySelector('.image-size').innerHTML = "Image Size: " + image_file_size + " MB";
        } else {
            image_file_size = image_file_size.toFixed(2)
            document.querySelector('.image-size').innerHTML = "Image Size: " + image_file_size + " KB";
        }
        $('.image_show').show();
    }
    function display_video(event) {
        var video = document.querySelector('.display-video');
	    video.src = URL.createObjectURL(event.target.files[0]);
        video_file_size = event.target.files[0].size / 1024;
        if(video_file_size > 1024) {
            video_file_size = video_file_size / 1024;
            if(video_file_size > 1024) {
                video_file_size = video_file_size.toFixed(2)
                document.querySelector('.video-size').innerHTML = "Video Size: " + video_file_size + " GB";
            } else{
                video_file_size = video_file_size.toFixed(2)
                document.querySelector('.video-size').innerHTML = "Video Size: " + video_file_size + " MB";
            }
        } else {
            video_file_size = video_file_size.toFixed(2)
            document.querySelector('.video-size').innerHTML = "Video Size: " + video_file_size + " KB";
        }
        $('.video_show').show();
    }
</script>
{% endblock content %}