{% extends 'base.html' %}
{% block content %}
<style>
    .sub_view_grid {
        margin: auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
	}
    img:hover {
        transform: scale(1.02);
    }
    img {
        border: 1px solid black;
        border-radius: 0.7em;
    }

	.search {
		max-width: 700px;
		width: 100%;
	}
	.bar {
		width: 80%;
		padding: 10px;
	}
	.bar-button {
		padding: 10px;
		border: 1px solid lightyellow;
		background: rgb(156, 214, 214);
	}
	.bar-button:hover {
		background: rgb(66, 201, 201);
		cursor: pointer;
	}
    .pagination {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }
    .pagination_list {
        list-style:none;
        padding: 5px;
        border: 1px solid black;
        background: white;
        color: black;
        margin-right: 5px;
    }
    .pagination_list > a {
        text-decoration: none;
        color: black;
    }
    .pagination_list:hover {
        background: rgb(168, 94, 67);
    }
    .active {
        background: rgb(168, 94, 67);
    }
    @media (max-width: 376px) {
        .sub_view_grid {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
    .search {
		justify-content: center;
		margin: auto;
		align-content: center;
	}
</style>
    <form class="search" method="GET">
        <input class="bar" type="text" name="query" placeholder="Search.." value>
        <button type="submit" class="bar-button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <h4>{{ title }}</h4>
    {% if videos %}
    <div class="sub_view_grid">
        {% for video in videos %}
            <div style="width: 300px; height: 200px; margin: auto;">
                <a href="{% url 'video_view' video.id %}"><img width="100%" height="100%" src="{{ video.thumbnail.url }}" alt=""></a>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if paginator.count > per_page %}
            {% for i in paginator.page_range %}
                <li class="pagination_list {% if i == page_number %} active {% endif %}">
                    <a class="pagination_page_link" href="?page={{i}}">{{ i }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </div>
    {% else %}
            <h3>No Videos</h3>
    {% endif %}
    <script>
        document.querySelector('.bar').value = '{{ request.GET.query }}';
    </script>
{% endblock content %}